// HankenGrotesk font
@font-face {
    font-family: 'HankenGrotesk';
    font-weight: 500;
    src: url(/src/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'HankenGrotesk';
    font-weight: 600;
    src: url(/src/fonts/static/HankenGrotesk-Bold.ttf);
}
@font-face {
    font-family: 'HankenGrotesk';
    font-weight: 700;
    src: url(/src/fonts/static/HankenGrotesk-ExtraBold.ttf);
}